<section class="pt-6 pt-md-8 pb-8 pb-md-9 bg-light">
  <div class="container-lg">
    <div class="row align-items-center">
      <div class="col-md-9 offset-md-n3 order-md-1">

        <!-- Image -->
        <img class="img-fluid mw-md-125 mb-8 mb-md-0" src="assets/images/illustration-1.png" alt="Welcome">

      </div>
      <div class="col-md-6 order-md-0 text-center text-md-start">

        <!-- Heading -->
        <h1 class="display-3 mb-4">
          A Modern Design For<br />
          Your
          <span class="text-primary-light text-underline-warning  d-none d-lg-inline">
            <ngtypewriter [StringList]='list' [speed]='1000'></ngtypewriter>

          </span>
          <span class="text-primary-light text-underline-warning d-lg-none">Angular App</span>
        </h1>

        <!-- Text -->
        <p class="fs-lg">
          We’ll handle all your finances for free without ever trying to sell you unnecessary services.
        </p>

        <!-- Buttons -->
        <a class="btn btn-primary-light lift" href="#!">
          Get Started
        </a>
        <a class="btn btn-white lift ms-3" href="#!">
          Learn More
        </a>

      </div>
    </div>
  </div>
</section>