<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-lg">

    <!-- Brand -->
    <a class="navbar-brand d-lg-none" href="./index.html">HsAngular</a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Navigation -->
      <ul class="navbar-nav justify-content-start w-100">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="#">About</a>
        </li>
      </ul>

      <!-- Brand -->
      <a class="navbar-brand d-none d-lg-block px-lg-6" href="./index.html">HSAngular</a>

      <!-- Navigation -->
      <ul class="navbar-nav justify-content-end w-100">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="#">Projects</a>
        </li>
      </ul>

    </div>

  </div>
</nav>