<section>
  <div class="container-lg position-relative" style="z-index: 1;">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-5 col-lg-4 pt-10 pt-md-12">
        <!-- Image -->
        <div class="position-relative">
          <!-- Decoration -->
          <div class="position-absolute top-end text-warning mt-n8 me-n8">
           <app-svg-circle></app-svg-circle>
          </div>

          <!-- Decoration -->
          <div class="position-absolute bottom-start text-warning ms-n10 mb-8">
            <app-svg-circle></app-svg-circle>
          </div>

          <!-- Image -->
          <img class="position-relative img-fluid rounded shadow-lg" data-jarallax-element="-50"
            src="assets/images/screenshot-1.jpg" alt="...">

        </div>

      </div>
      <div class="col-md-6 pt-8 pb-10 py-md-12 text-center text-md-start">

        <!-- Heading -->
        <h2 class="display-4 mb-4">
          Check investments anytime, anywhere.
        </h2>

        <!-- Text -->
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna lectus, mattis non accumsan in, tempor dictum
          neque. In hac habitasse platea dictumst. Lorem ipsum dolor sit amet, consectetur adipiscing.
        </p>

        <!-- Buttons -->
        <div class="d-flex flex-nowrap justify-content-center justify-content-md-start">
          <a class="lift" href="#!" style="max-width: 180px;">
            <img class="img-fluid" src="assets/images/button-app.png" alt="...">
          </a>
          <a class="lift ms-2" href="#!" style="max-width: 180px;">
            <img class="img-fluid" src="assets/images/button-play.png" alt="...">
          </a>
        </div>

      </div>
    </div>
  </div>
</section>