<section class="position-relative">
  <div class="container-lg">
    <div class="row justify-content-center">
      <div class="col-md-10 col-xl-8 position-static">

        <!-- Divider -->
        <hr class="hr-sm bg-warning mx-auto mb-10 mb-md-12">

        <!-- Slider -->
        <div [flickity]='{"wrapAround": true}' class="position-static flickity-soft-edges flickity-buttons-responsive">
          <div class="col-12 px-4">
            <blockquote class="text-center mb-0">
              <!-- Preheading -->
              <h6 class="text-uppercase text-warning mb-3 mb-md-5">
                Keep it simple
              </h6>
              <!-- Heading -->
              <h2 class="display-3 mb-5 mb-md-8">
                <q>I would’ve given up <span class="text-underline-warning">years ago</span> if it weren’t for
                  HsDesigns.</q>
              </h2>
              <!-- Footer -->
              <footer>
                <!-- Avatar -->
                <div class="avatar mb-4">
                  <img class="avatar-img rounded-circle" src="assets/images/avatar-9.jpg" alt="...">
                </div>
                <!-- Heading -->
                <h4 class="font-sans-serif mb-0">Johny deep</h4>
                <!-- Position -->
                <p class="fs-sm text-muted mt-n1 mb-0">Web Designer</p>
              </footer>
            </blockquote>
          </div>
          <div class="col-12 px-4 ">
            <blockquote class="text-center mb-0">
              <!-- Preheading -->
              <h6 class="text-uppercase text-warning mb-3 mb-md-5">
                Design systems
              </h6>
              <!-- Heading -->
              <h2 class="display-3 mb-5 mb-md-8">
                <q>I <span class="text-underline-warning">absolutely love</span> the way Hoda Salah handles systemic
                  design.</q>
              </h2>
              <!-- Footer -->
              <footer>
                <!-- Avatar -->
                <div class="avatar mb-4">
                  <img class="avatar-img rounded-circle" src="assets/images/avatar-6.jpg" alt="...">
                </div>
                <!-- Heading -->
                <h4 class="font-sans-serif mb-0">John Smith</h4>
                <!-- Position -->
                <p class="fs-sm text-muted mt-n1 mb-0">Web Developer</p>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>